 <div class="row">
       <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview </a></li>
            <li><a href="#/NESEval">New Evaluation Sessions</a>
              <li><a ng-href='#/home/allevalsession'>All Evaluation Sessions(History)<span class="sr-only">(current)</span></a></li>

            </li>
            <li><a href="#/home/addcategory">Add Category</a></li>
            <li><a href="#/home/addfeature">Add Features</a></li>
            <li><a href="#/home/addproduct">Add Products</a></li>
            <li><a href="#/home/userapproval">User Approval<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
          </ul>
       
        
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
 <div class="container">
        <div class="row">
            <div class="col-md-4 col-md-offset-4">
                <div class="login-panel panel panel-primary">
                    <div class="panel-heading">
                        <h3 class="panel-title">Add Product</h3>
                    </div>
                    <div class="panel-body">
                       <form name="myform" method="post" ng-submit="addproduct()" novalidate>
                            <fieldset>
                                <div class="form-group">
                                    <input class="form-control" placeholder="Product Name" ng-model="productname"  name="productname" id="productname" type="text" required="required">
                                </div>
                                
                                <div class="form-group">
                                    <input class="form-control" placeholder="Version Number" ng-model="versionno"  name="versionno" id="versionno" type="text" >
                                </div>
                                
                                 <div class="form-group">
                                    <input class="form-control" placeholder="Product Type" ng-model="producttype"  name="producttype" id="producttype" type="text" >
                                </div>
                                
                             
                                <!-- Change this to a button or input when using this as a form -->
                                <button type="submit" class="btn btn-lg btn-primary btn-block" ng-disabled="myform.$invalid">Add</button> 
                           </fieldset>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
