
<div class="row">
	<div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <li class="active"><a href="#">Overview </a></li>
            <li><a href="#/NESEval">New Evaluation Sessions</a>
              <li><a ng-href='#/home/allevalsession'>All Evaluation Sessions(History)<span class="sr-only">(current)</span></a></li>

            </li>
            <li><a href="#/home/addcategory">Add Category</a></li>
            <li><a href="#/home/addfeature">Add Features</a></li>
            <li><a href="#/home/addproduct">Add Products</a></li>
            <li><a href="#/home/userapproval">User Approval<span class="sr-only">(current)</span></a></li>
            <li><a href="#">Reports</a></li>
          </ul>
       
        
        </div>
	<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
		<form class="navbar-form navbar-right">
			<input type="text" class="form-control" placeholder="Search...">
		</form>
		<h1 class="page-header">Dashboard</h1>
		<div class="container">
			<div class="row">
					<div class="col-md-8 col-md-offset-2">
					<div class="login-panel panel panel-primary" ng-init="featureEval()">
						<div class="panel-heading">
							<h3 class="panel-title">Feature Evaluation</h3>
						</div>


			<div class="panel-body">
				<div class="panel panel-default" ng-repeat="(key, data) in response" ng-init="collapseindex = $index">
                	<div class="panel-heading" data-toggle="collapse" data-target="#{{'object'+ collapseindex}}" >
                  		<h3 class="panel-title">
                   			{{key | uppercase }}
                 		 </h3>
                	</div>
                	<div id="{{'object'+ collapseindex}}" class="collapse in">
                  		<div class="panel-body" ng-repeat="feature in data">
                      		<blockquote>
                        		<p>{{feature.features}}</p>
                      		</blockquote>
                     		<input type="checkbox" ng-model="feature.featureId">
                   		</div>
                   	</div>
                 </div><!--/panel-->
            </div>

					
				</div>
			</div>
		</div>




	</div>
</div>